{
 ; min-level oder matters: it is greedy!
 :min-level [[#{"mqtt2pg.foo-bar"} :debug]
             [#{"mqtt2pg.*"} :info]
             [#{"*"} :warn]]
 ; set log-level to nil, otherwise it will take precedence over min-level
 :log-level nil
 }
