;; shadow-cljs configuration
{:source-paths
 ["src"]
 :dependencies
 [
  [com.taoensso/timbre "5.1.2"]
  [funcool/cuerdas "2021.05.29-0"]
  [org.clojars.akiel/async-error "0.3"]
  [org.clojure/tools.cli "1.0.206"]
  ]

 :builds
 {:service
  {:compiler-options
   {:infer-externs :auto
    :optimizations :simple}
   :main mqtt2pg.main/-main
   :output-to "mqtt2pg"
   :target :node-script
   }}}
