;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [
  [org.clojure/tools.cli "0.4.2"]
  [com.taoensso/timbre "4.10.0"]
  ]

 :builds
 {:application
  {:target :node-script
   :main mqtt2pg.main/main
   :output-to "mqtt2pg"}}}
